<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:ClientId" value="ClientID" /><!--Web App app-->
    <add key="ida:AppKey" value="Secret" /><!--Web App app-->


    <add key="ida:ClientIdforUser" value="Client Id" /><!--Native app-->
    <add key="ida:ClientIdforCert" value="Client Id" /><!--Web app-->
    
    <add key="ida:Audience" value="https://dynazuretest.crm.dynamics.com/" />  <!--Native app-->
    <!--Cliente-->
    <add key="ida:Tenant" value="dynazuretest.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:63880/" /> <!--(Your App)-->
    <add key="ida:serviceResourceID" value="https://dynazuretest.crm.dynamics.com/" /> <!--(Dynamics Environment)-->
    <add key="ida:serviceBaseAddress" value="https://dynazuretest.api.crm.dynamics.com/api/data/v8.2/" /> <!--(Dynamics Api)-->


    <add key="ida:user" value="{User}@{Tenant}.onmicrosoft.com" />
    <add key="ida:password" value="{user password}" />
    <add key="ida:CertName" value="CN=WebAppToDynamics" /> <!--Name of the Cert Generated wit PS-->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.29.0.1078" newVersion="2.29.0.1078" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.29.0.1078" newVersion="2.29.0.1078" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>