<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:ClientId" value="Client ID" />
    <add key="ida:Audience" value="" />
    <!--Cliente-->
    <add key="ida:Tenant" value="demoappsad.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />

    <add key="ida:serviceResourceID" value="https://demoappsad.onmicrosoft.com/BackEndApiService" />

    <add key="ida:CertName" value="CN=TodoListDaemonWithCert" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>