<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:ClientId" value="application id" />
    <add key="ida:Tenant" value="{yourAD}.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:serviceResourceID" value="https://demoappsad.onmicrosoft.com/BackEndApiService" /><!--URL/ServiceName-->
    <add key="ida:serviceBaseAddress" value="http://localhost:57042/" /> <!--Url of Web Api-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>